/*****************************************************/
/* UnorderedList                                     */
/*****************************************************/

* {
  box-sizing: border-box;
}

#site {
  display: block;
  width: 50%;
  margin: 5% auto;
  text-align: center;
}

h1 {
  margin-bottom: 10px;
  color: fuchsia;
  font-family: monospace;
  font-size: 28px;
}

h1 span {
  color: gray;
}

#list-title {
  visibility: hidden;
  height: 30px;
  color: #999;
  font-size: 11px;
  font-family: monospace;
  text-transform: capitalize;
  line-height: 30px;
}

form {
  width: 360px;
  margin: 0 auto;
}

input {
  color: #888;
  text-align: center;
  border: 1px solid #DDD;
  border-radius: 2px;
  outline: none;
}

input[type=text] {
  width: 100%;
  margin-bottom: 16px;
  padding: 4px;
}

input[type=submit] {
  padding: 4px 14px;
  color: #666;
  font-size: 10px;
  font-weight: bold;
  background: linear-gradient(#FCFCFC, #EEE);
}

input[type=submit]:hover {
  color: #555;
  border-color: #CCC;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  cursor: pointer;
}

#add-item-form {
  display: none;
}

#item-list {
  display: none;
  width: 70%;
  margin: 20px auto;
  padding: 30px;
  list-style-type: none;
  /*padding: 20px 15px 20px 45px;
  list-style-type: circle;
  border: 1px solid #eee;
  border-radius: 2px;*/
}

#item-list li {
  padding: 10px;
  text-align: center;
  color: darkslategray;
  /* color: gray; */
  font-family: Helvetica;
  font-size: 14px;
  line-height: 18px;
}
