// ==========================================================================
// UnorderedList
// ==========================================================================

@import 'compass';

* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

#app {
  display: block;
  width: 60%;
  min-width: 420px;
  margin: 5% auto;
  text-align: center;
}

a {
  text-decoration: none;

  &:focus {
    outline: none;

    & h1 {
      color: #8A2BE2;

      & span {
        color: #2F4F4F;
      }
    }
  }
}

h1 {
  display: inline-block;
  width: 360px;
  margin: 0 auto 10px;
  color: #F0F;
  font-family: monospace;
  font-size: 28px;

  & span {
    color: #808080;
  }
}

ul {
  list-style: none;
}

#list-title {
  visibility: hidden;
  height: 30px;
  color: #999;
  font-size: 11px;
  font-family: monospace;
  text-transform: capitalize;
  line-height: 30px;
  cursor: default;
}

form {
  width: 360px;
  margin: 0 auto;

  input {
    color: #888;
    text-align: center;
    border: 1px solid #DDD;
    border-radius: 2px;
    outline: none;

    &[type=text] {
      width: 100%;
      margin-bottom: 16px;
      padding: 4px;
    }

    &[type=submit] {
      padding: 4px 14px;
      color: #666;
      font-size: 10px;
      font-weight: bold;
      @include background(linear-gradient(#FCFCFC, #EEE));

      &:hover, &:focus {
        color: #555;
        border-color: #CCC;
        @include box-shadow(rgba(#000, .1) 0 1px 1px);
        cursor: pointer;
      }

      &:focus {
        color: #8A2BE2;
      }
    }
  }
}

#add-item-form {
  display: none;
}

#item-list {
  display: none;
  width: 80%;
  min-width: 420px;
  margin: 20px auto;
  padding: 30px;

  & li {
    position: relative;
    margin-bottom: 4px;
    padding: 10px 30px;
    text-align: center;
    color: #2F4F4F;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 18px;
    word-wrap: break-word;
    background: #FBFBFB;
    border-radius: 5px;
    @include transition-property(all);
    @include transition-duration(.2s);
    -webkit-user-select: none;
    user-select: none;

    span {
      -webkit-user-select: initial;
      user-select: initial;
    }

    .remove, .clip {
      z-index: 2;
      position: absolute;
      @include transform(translateY(-50%));
      top: 50%;
      right: 0;
      height: 30px;
      width: 30px;
      color: #CCC;
      font-size: 15px;
      text-align: center;
      line-height: 30px;
      @include transition-property(all);
      @include transition-duration(.2s);

      &:hover, &.zeroclipboard-is-hover {
        color: #BA55D3; //#4169E1;
        @include text-shadow(rgba(#FFF, 1) 0 0 3px);
        cursor: pointer;
      }
    }

    .clip {
      left: 0;
    }

    &:hover {
      color: #708080; //#BA55D3;
      @include box-shadow(rgba(#000, 0.025) 0 0 15px inset);
      background: #FAFAFA;
      outline: none;
      cursor: default;

      & div {
        color: #708090;
      }
    }

    &:focus {
      background: #F8F8F8;
      outline: none;
    }
  }
}

#nav {
  z-index: 99;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  background: #FFF;
  border-top: 1px solid #EEE;

  li {
    display: inline;
    padding-right: 15px;
    height: 40px;
    line-height: 40px;

    &:last-of-type {
      padding-right: 0;
    }

    a {
      color: #808080;
      font-family: Helvetica;
      color: #999;
      font-size: 12px;

      &:hover {
        color: #708090;
        border-bottom: 2px solid #F0F;
      }
    }
  }
}
