// ==========================================================================
// UnorderedList
// ==========================================================================

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #app {
  -webkit-user-select: none;
  user-select: none;
}

#app {
  display: block;
  width: 60%;
  min-width: 420px;
  margin: 5% auto;
  text-align: center;
}

a {
  text-decoration: none;

  &:focus {
    outline: none;

    & h1 {
      color: blueviolet;

      & span {
        color: darkslategray;
      }
    }
  }
}

h1 {
  display: inline-block;
  width: 360px;
  margin: 0 auto 10px;
  color: fuchsia;
  font-family: monospace;
  font-size: 28px;

  & span {
    color: gray;
  }
}

ul {
  list-style: none;
}

#list-title {
  visibility: hidden;
  height: 30px;
  color: #999;
  font-size: 11px;
  font-family: monospace;
  text-transform: capitalize;
  line-height: 30px;
  cursor: default;

  span {
    -webkit-user-select: initial;
    user-select: initial;
  }
}

form {
  width: 360px;
  margin: 0 auto;

  input {
    color: #888;
    text-align: center;
    border: 1px solid #DDD;
    border-radius: 2px;
    outline: none;

    &[type=text] {
      width: 100%;
      margin-bottom: 16px;
      padding: 4px;
    }

    &[type=submit] {
      padding: 4px 14px;
      color: #666;
      font-size: 10px;
      font-weight: bold;
      background: linear-gradient(#FCFCFC, #EEE);

      &:hover, &:focus {
        color: #555;
        border-color: #CCC;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        cursor: pointer;
      }

      &:focus {
        color: blueviolet;
      }
    }
  }
}

#add-item-form {
  display: none;
}

#item-list {
  display: none;
  width: 80%;
  min-width: 420px;
  margin: 20px auto;
  padding: 30px;

  & li {
    position: relative;
    margin-bottom: 4px;
    padding: 10px 30px;
    text-align: center;
    color: darkslategray;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 18px;
    word-wrap: break-word;
    background: #FBFBFB;
    border-radius: 5px;
    transition: all .2s;
    -webkit-user-select: none;
    user-select: none;

    span {
      -webkit-user-select: initial;
      user-select: initial;
    }

    .remove, .clip {
      z-index: 2;
      position: absolute;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      top: 50%;
      right: 0;
      height: 30px;
      width: 30px;
      color: #CCC;
      font-size: 15px;
      text-align: center;
      line-height: 30px;
      transition: all .2s;

      &:hover, &.zeroclipboard-is-hover {
        color: mediumorchid; //royalblue;
        text-shadow: 0 0 3px rgba(#FFF, 1);
        cursor: pointer;
      }
    }

    .clip {
      left: 0;
    }

    &:hover {
      color: slategray; //mediumorchid;
      box-shadow: inset 0 0 15px rgba(0,0,0,0.025);
      background: #FAFAFA;
      outline: none;
      cursor: default;

      & div {
        color: slategray;
      }
    }

    &:focus {
      box-shadow: inset 0 0 15px rgba(0,0,0,0.025);
      background: #F8F8F8;
      outline: none;
    }
  }
}

#nav {
  z-index: 99;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  background: #FFF;
  border-top: 1px solid #EEE;

  li {
    display: inline;
    padding-right: 15px;
    height: 40px;
    line-height: 40px;

    &:last-of-type {
      padding-right: 0;
    }

    a {
      color: gray;
      font-family: Helvetica;
      color: #999;
      font-size: 12px;

      &:hover {
        color: slategray;
        border-bottom: 2px solid fuchsia;
      }
    }
  }
}
